<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdcourtyard.business.onlineHouse.dao.AssistantOnlinehousefileDao">


	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		onlineId,fileId,sceneName,sceneSort,createTime
	    ]]>
	</sql>

	<!--保存 -->
	<insert id="insertAssistantOnlinehousefile">
	    <![CDATA[
	        INSERT INTO assistant_onlinehousefile (
	        	onlineId,fileId,sceneName,sceneSort,createTime
	        ) VALUES (
	        	#{onlineId} ,
	        	#{fileId} ,
	        	#{sceneName} ,
	        	#{sceneSort} ,
	        	now()
	        )
	    ]]>
	</insert>



	<!-- update 条件组合 -->
	<sql id="update_sql">
		<set>
			<if
					test="sceneName != null and sceneName != ''">
				sceneName = #{sceneName}
				,
			</if>
			<if test="sceneSort != null">
				sceneSort = #{sceneSort} ,
			</if>
			<if test="createTime != null">
				createTime = #{createTime}
			</if>
		</set>
	</sql>

    <!-- 模糊查询这样： 字段名 LIKE CONCAT('%',CONCAT(#{model.userName},'%')) -->
	<!-- where 条件组合 -->
	<sql id="where_sql">
		<where>
			<if test="assistantOnlinehousefile.onlineType != null">
				 onlineType = #{assistantOnlinehousefile.onlineType} 
			</if>
		</where>
	</sql>

	<!-- 修改 -->
	<update id="updateAssistantOnlinehousefileById">
		UPDATE assistant_onlinehousefile
		<include refid="update_sql" />
		WHERE
		onlineId =
		#{onlineId}</update>

	<!-- 根据ID删除 -->
	<delete id="deleteAssistantOnlinehousefileById">
		DELETE FROM assistant_onlinehousefile
		WHERE
		onlineId = #{onlineId}  AND
		fileId = #{fileId} 	</delete>



	<!-- selsect -->
	<select id="getAssistantOnlinehousefileById" resultType="com.bdcourtyard.business.onlineHouse.model.AssistantOnlinehousefile">
		SELECT
		<include refid="columns" />
		FROM assistant_onlinehousefile
		WHERE
		onlineId = #{onlineId}</select>

	<!-- selsect -->
	<select id="getAssistantOnlinehousefiles" resultType="com.bdcourtyard.business.onlineHouse.model.AssistantOnlinehousefile">
		SELECT
		<include refid="columns" />
		FROM assistant_onlinehousefile
		<include refid="where_sql" />
	</select>
	
			<!-- selsect -->
	<select id="getAssistantOnlinehousefilesForPage" resultType="com.bdcourtyard.business.onlineHouse.model.AssistantOnlinehousefile">
		SELECT
		<include refid="columns" />
		FROM assistant_onlinehousefile
		<include refid="where_sql" />
	</select>

	<select id="getAssistantOnlinehousefilesByConditions" resultType="com.bdcourtyard.business.onlineHouse.model.AssistantOnlinehousefile">
		SELECT
		<include refid="columns" />
		FROM assistant_onlinehousefile
		WHERE 
			1 =1
		<foreach collection="conditions" item="condition">
			${condition.exp}
		</foreach>
	</select>

</mapper>
