<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdcourtyard.business.houseGuide.dao.AssistantHouseguideDao">


	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		guideId,title,content,adminId,createTime,estateId
	    ]]>
	</sql>

	<!--保存 -->
	<insert id="insertAssistantHouseguide">
	    <![CDATA[
	        INSERT INTO assistant_houseguide ( 
	        	guideId,title,content,adminId,createTime,estateId
	        ) VALUES (
	        	#{guideId} ,
	        	#{title} ,
	        	#{content} ,
	        	#{adminId} ,
	        	#{createTime} ,
	        	#{estateId} 
	        )
	    ]]>
	</insert>

	<!-- 批量保存 -->
	<insert id="insertAssistantHouseguideBatch">
	    <![CDATA[
	        INSERT INTO assistant_houseguide (
	        	guideId,title,content,adminId,createTime,estateId
	        ) VALUES 
	         ]]>
		<foreach item="item" collection="list" separator=",">
			(
						#{item.guideId} ,
						#{item.title} ,
						#{item.content} ,
						#{item.adminId} ,
						#{item.createTime} ,
						#{item.estateId} 
			)
		</foreach>

	</insert>

	<!-- update 条件组合 -->
	<sql id="update_sql">
		<set>
			<if
				test="title != null and title != ''">
				title = #{title}
				,
			</if>
			<if
				test="content != null and content != ''">
				content = #{content}
				,
			</if>
			<if
				test="adminId != null and adminId != ''">
				adminId = #{adminId}
				,
			</if>
			<if test="createTime != null">
				createTime = #{createTime} ,
			</if>
			<if
				test="estateId != null and estateId != ''">
				estateId = #{estateId}
				
			</if>
		</set>
	</sql>

    <!-- 模糊查询这样： 字段名 LIKE CONCAT('%',CONCAT(#{model.userName},'%')) -->
	<!-- where 条件组合 -->
	<sql id="where_sql">
		<where>
			<if
				test="assistantHouseguide.title != null and assistantHouseguide.title != ''">
				title = #{assistantHouseguide.title}				 
			</if>
			<if
				test="assistantHouseguide.content != null and assistantHouseguide.content != ''">
				 and content = #{assistantHouseguide.content}				 
			</if>
			<if
				test="assistantHouseguide.adminId != null and assistantHouseguide.adminId != ''">
				 and adminId = #{assistantHouseguide.adminId}				 
			</if>
			<if test="assistantHouseguide.createTime != null">
				 and createTime = #{assistantHouseguide.createTime} 
			</if>
			<if
				test="assistantHouseguide.estateId != null and assistantHouseguide.estateId != ''">
				 and estateId = #{assistantHouseguide.estateId}				 
			</if>
		</where>
	</sql>

	<!-- 修改 -->
	<update id="updateAssistantHouseguideById">
		UPDATE assistant_houseguide
		<include refid="update_sql" />
		WHERE
		guideId =
		#{guideId} 	</update>

	<!-- 根据ID删除 -->
	<delete id="deleteAssistantHouseguideById">
		DELETE FROM assistant_houseguide
		WHERE
		guideId = #{guideId} 	</delete>



	<!-- selsect -->
	<select id="getAssistantHouseguideById" resultType="com.bdcourtyard.business.houseGuide.model.AssistantHouseguide">
		SELECT
		<include refid="columns" />
		FROM assistant_houseguide
		WHERE
		guideId = #{guideId} 	</select>

	<!-- selsect -->
	<select id="getAssistantHouseguides" resultType="com.bdcourtyard.business.houseGuide.model.AssistantHouseguide">
		SELECT
		<include refid="columns" />
		FROM assistant_houseguide
		<include refid="where_sql" />
	</select>
	
			<!-- selsect -->
<!--	<select id="getAssistantHouseguidesForPage" resultType="com.bdcourtyard.business.houseGuide.model.AssistantHouseguide">
		SELECT
		<include refid="columns" />
		FROM assistant_houseguide
		<include refid="where_sql" />
	</select>-->

	<select id="getAssistantHouseguidesByConditions" resultType="com.bdcourtyard.business.houseGuide.model.AssistantHouseguide">
		SELECT
		<include refid="columns" />
		FROM assistant_houseguide
		WHERE 
			1 =1
		<foreach collection="conditions" item="condition">
			${condition.exp}
		</foreach>
	</select>

	<select id="findByEstateId" parameterType="java.lang.String" resultType="com.bdcourtyard.business.houseGuide.model.AssistantHouseguide">
		SELECT guideId,title,createTime FROM assistant_houseguide WHERE estateId = #{estateId} ORDER BY createTime DESC
	</select>


	<select id="getAssistantHouseguidesForPage" resultType="com.bdcourtyard.business.houseGuide.model.AssistantHouseguide">
		SELECT
		ah.guideId,ah.title,ah.content,
		ce.employeeName as adminId,
		ah.createTime,ah.estateId
		FROM assistant_houseguide ah
		left join company_employee ce on ah.adminId = ce.employeeId
		WHERE
		ah.estateId = #{estateId}
		<if test="title != null and title != ''">
			and ah.title  LIKE CONCAT('%',#{title},'%' )
		</if>
		<if test="employeeName != null and employeeName != ''">
			and ce.employeeName  LIKE CONCAT('%',#{employeeName},'%' )
		</if>
		<if test="startTime != null and startTime != ''">
			and ah.createTime &gt;= #{startTime}
		</if>
		<if test="endTime != null and endTime != ''">
			and ah.createTime &lt;= #{endTime}
		</if>
		ORDER by ah.createTime desc
	</select>
</mapper>
